<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Farbpalette - Login</title>

        <!-- Cascading Style Sheets -->
        <!-- frameworks -->
        <link rel="stylesheet" href="./frameworks/skeleton204/normalize.css">
        <link rel="stylesheet" href="./frameworks/skeleton204/skeleton.css">
        <!-- custom-->
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link rel="stylesheet" href="./stylesheets/loginstyle.css">

    </head>
    <!-- Body -->
    <body class="login">
        <!-- Flexible Layout with Skeleton and use of containers / rows-->
        <div class="container">
            <div class="row">
                <div class="twelve columns"> 
                        <!--  
                            Custom implementation 
                            Login Card Wrapper wraps the displayed elements
                            in a flexbox and groups them as a column
                        -->
                        <div class="login-card-wrapper">
                            <h1>Farbpalette</h1>
                            <div class="login-card">
                                <form class="u-full-width" method="POST" action="http://localhost:3000/login">
                                    <div class="row">
                                        <div class="twelve columns">
                                         <h4>Login</h4>
                                        </div>
                                      </div>
                                    <div class="row">
                                      <div class="twelve columns">
                                        <label for="username">Username</label>
                                        <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="username">
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="twelve columns">
                                            <label for="password">Password</label>
                                            <input class="u-full-width" type="password" placeholder="" id="password">
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="twelve columns">
                                            <input id="login" class="button-primary" type="submit" value="Submit">
                                            <p>Du hast keinen Account? <a>Jetzt registrieren</a></p>
                                        </div>                                     
                                    </div>
                                  </form>                                
                            </div>
                        </div>
                </div>
            </div>
        </div>

    <!-- Scripts -->
    <script src="javascripts/login.js"></script>
    </body>
</html>