<!DOCTYPE html >
<html>
    <head>
        <meta charset="utf-8">
        <title>Farbpalette - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Cascading Style Sheets -->
        <!-- frameworks -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./frameworks/skeleton204/normalize.css">
        <link rel="stylesheet" href="./frameworks/skeleton204/skeleton.css">
        <!-- custom-->
        <link rel="stylesheet" href="./stylesheets/style.css">
        <link rel="stylesheet" href="./stylesheets/loginstyle.css">
        <!-- Libraries -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        
        <!-- Scripts -->
        <script src="./javascripts/login.js"></script>
    </head>
    <!-- Body -->
    <body class="login">
        <!-- Flexible Layout with Skeleton and use of containers / rows-->
        <div class="container">
            <div class="row">
                <div class="twelve columns"> 
                        <!--  
                            Custom implementation 
                            Login Card Wrapper wraps the displayed elements
                            in a flexbox and groups them as a column
                        -->
                        <div class="login-card-wrapper">
                            <h1>Farbpalette</h1>
                            <div class="login-card">
                                <form class="u-full-width" method="POST" action="http://localhost:3000/login">
                                    <div class="row">
                                        <div class="twelve columns">
                                         <h4>Login</h4>
                                        </div>
                                      </div>
                                    <div class="row">
                                      <div class="twelve columns">
                                        <label for="username">Username</label>
                                        <input class="u-full-width" type="email" placeholder="Email" id="username">
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="twelve columns">
                                            <label for="password">Password</label>
                                            <input class="u-full-width" type="password" placeholder="" id="password">
                                          </div>
                                    </div>
                                    <div class="row">
                                        <div class="twelve columns">
                                            <button id="login" type="button" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                                            <p>Du hast keinen Account? <a>Jetzt registrieren</a></p>
                                        </div>                                     
                                    </div>
                                  </form>                                
                            </div>
                        </div>
                </div>
            </div>
        </div>

    
    </body>
</html>