html, body{min-height:100%;}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  width: 100%;
}
.navitem-custom {
  display: flex;
  justify-content: flex-end;
}



form {
  margin-bottom: 0px;
}

input {
  margin-bottom: 0px;
}